

@model IEnumerable<StaffingPlanner.Models.Project>





@{
    ViewBag.Title = "Reports";
}

<h2>Report</h2>
<div class="table-responsive">

    <table class="table table-condensed table-bordered small">
        <tr id="t"> <!-- HEADERS -->
            <th>Details</th>
            <th>Account</th>
            <th>Sub-Business</th>
            <th>Project Name</th>
            <th># of positions</th>
            <th>Sponsor Name</th>
            <th>Project Value</th>
            <th>Opportunity Status</th>
            <th>Rate Card/hr</th>
        </tr>

        @foreach (var item in Model)
        { <!-- For Loop for each row -->
        <tr id="t2">
            <td>

                <button type='button' class='btn btn-light' data-toggle='modal' data-target="#@item.projectId">
                    <i class="fas fa-user-plus fa-xs"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="@item.projectId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title text-center text-uppercase text-danger" id="exampleModalLabel">@item.projectName</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-info small">
                                <table class="table table-bordered table-hover">
                                    <tr class="text-center">
                                        <td>Project Name</td>
                                        <td>@item.projectName</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Skill Set Needed</td>
                                        <td>#</td>
                                    <tr class="text-center">
                                        <td> # of Positions</td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Practice</td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Max Target Grade</td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Targeted Consultant</td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Work Location</td>
                                        <td>@item.location</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Start Date</td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Duration</td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Priority</td>
                                        <td></td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Comment</td>
                                        <td>@item.comment</td>
                                    </tr>
                                    <tr class="text-center">
                                        <td>Opportunity Type</td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>                 <!--Details-->
            <td>To be Filled</td> <!--Account-->
            <td>To be Filled</td> <!--Sub-business-->
            <td>@item.projectName</td> <!--Project Name-->
            <td>#</td>          <!-- # of positions-->
            <td>@item.sponsor</td><!--Sponsor Name-->
            <td>To be Filled</td> <!--Project Value-->
            <td>@item.ProjectStatus.projectStatusName</td> <!--Opportunity Status-->
            <td>To be Filled</td> <!--Rate Card/hr-->
        </tr>



        }
        
    </table>






</div> <!-- Table Responsive -->
