

@model IEnumerable<StaffingPlanner.Models.Project>





@{
    ViewBag.Title = "Reports";
}
<div class="Container">
    <h2>Report</h2>

    <table class="table table-condensed table-bordered">
        <tr id="t">
            <th>Details</th>
            <th>Account</th>
            <th>Sub-Business</th>
            <th>Project Name</th>
            <th>Sponsor Name</th>
            <th>Project Value</th>
            <th>Opportunity Type</th>
            <th>Opportunity Status</th>
            <th>Rate Card/hr</th>
            <th>Skill Set Needed</th>
            <th>Practice</th>
            <th>Max Target Grade</th>
            <th>Targeted Consultant</th>
            <th>Work Location</th>
            <th>Start Date</th>
            <th>Duration</th>
            <th>Priority</th>
            <th>Comments</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr id="t2">
            <td>
                <button type='button' class='btn btn-light' data-toggle='modal' data-target='#exampleModal'>
                    <i class="fas fa-user-plus"></i>
                </button>
            </td>                 <!--Details-->
            <td>To be Filled</td> <!--Account-->
            <td>To be Filled</td> <!--Sub-business-->
            <td>@Html.DisplayFor(modelItem => item.projectName)</td> <!--Project Name-->
            <td>@Html.DisplayFor(modelItem => item.sponsor)</td><!--Sponsor Name-->
            <td>To be Filled</td> <!--Project Value-->
            <td>To be Filled</td> <!--Opportunity Type-->
            <td>@Html.DisplayFor(modelItem => item.ProjectStatus)</td> <!--Opportunity Status--->
            <td>To be Filled</td> <!--Rate Card/hr-->
            <td>To be Filled</td> <!--Skill Set Needed-->
            <td>To be Filled</td> <!--Practice-->
            <td></td> <!--Max Targeted Grade-->
            <td></td><!--Targeted Consultant-->
            <td>@Html.DisplayFor(modelItem => item.location)</td> <!--Work Location-->
            <td>To be Filled</td> <!--Start Date-->
            <td>To be Filled</td> <!--Duration-->
            <td>@Html.DisplayFor(modelItem => item.comment)</td><!--Priority-->
            <td>@Html.DisplayFor(modelItem => item.location)</td><!--Comments-->
        </tr>
        }

    </table>





    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>