@model IEnumerable<StaffingPlanner.Models.Project>


@{
    ViewBag.Title = "Report";
}
<div class="Container">
    <h2>Report</h2>

    <table class="table table-striped table-hover table-small ">
        <tr>
            <th>Details</th>
            <th>Status</th>
            <th>Client</th>
            <th>Role</th>
            <th>Team</th>
            <th>Max Targeted Grade</th>
            <th>Targeted Sogeti Consultant</th>
            <th>Targeted New Hire (Grade/Recruiter)</th>
            <th>Candidate Confirmed</th>
            <th>Change Request Date</th>
            <th>Expected Start Date w/ Client</th>
            <th>Expected start date w/ Sogeti (if applicable)</th>
            <th>Requested Date</th>
            <th>Actual Start Date</th>
            <th>Candidate's Info to Client</th>
            <th>Confirmed Candidate Practice</th>
            <th>Comments</th>
            <th>Location</th>
            <th>Sponsor</th>
            <th>Client Name</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><i class="fas fa-user-plus"></i></td>
                <td>To be Filled</td> <!--Status-->
                <td>To be Filled</td> <!--Client-->
                <td>@Html.DisplayFor(modelItem => item.ProjectRole.projectRoleName)</td> <!--Role-->
                <td>@Html.DisplayFor(modelItem => item.projectName)</td><!--Team-->
                <td>To be Filled</td> <!--Client--><!--Max Targeted Grade-->
                <td>To be Filled</td> <!--Client--><!--Targeted Sogeti Consultant-->
                <td>To be Filled</td> <!--Client--><!--Targeted New Hire (Grade/Recruiter)-->
                <td>To be Filled</td> <!--Client--><!--Candidate Confirmed-->
                <td>To be Filled</td> <!--Client--><!--Change Request Date-->
                <td>To be Filled</td> <!--Client--><!--Expected Start Date w/ Client-->
                <td>To be Filled</td> <!--Client--><!--Expected start date w/ Sogeti (if applicable)-->
                <td>@Html.DisplayFor(modelItem => item.requestDate)</td><!--Requested Date-->
                <td>To be Filled</td> <!--Client--><!--Actual Start Date-->
                <td>To be Filled</td> <!--Client--><!--Candidate's Info to Client-->
                <td>To be Filled</td> <!--Client--><!--Confirmed Candidate Practice-->
                <td>@Html.DisplayFor(modelItem => item.comment)</td><!--Comments-->
                <td>@Html.DisplayFor(modelItem => item.location)</td><!--Location-->
                <td>@Html.DisplayFor(modelItem => item.sponsor)</td><!--Client Name-->
                <td>@Html.DisplayFor(modelItem => item.Client.clientName)</td>
            </tr>
        }

    </table>
</div>