@model IEnumerable<StaffingPlanner.Models.Project>

@{
    ViewBag.Title = "Project List";
}

<h2>Project List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Client.clientName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.projectName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.location)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.sponsor)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.requestDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.projectActive)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.comment)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.lastEditedBy)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.editDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ProjectStatus.projectStatusName)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Client.clientName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.projectName)
		</td> 
		<td>
			@Html.DisplayFor(modelItem => item.location)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.sponsor)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.requestDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.projectActive)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.comment)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.lastEditedBy)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.editDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.ProjectStatus.projectStatusName)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.projectId }) |
			@Html.ActionLink("Details", "Details", new { id = item.projectId }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.projectId })
		</td>
	</tr>
}

</table>
