@model IEnumerable<StaffingPlanner.Models.ProjectStatus>

@{
    ViewBag.Title = "Status List";
}

<h2>Project Status List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr id="t">
        <th>
            @Html.DisplayNameFor(model => model.projectStatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projectStatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.projectStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.projectStatusID })
        </td>
    </tr>
}

</table>
